/****************************************************************
**                                                             **                                                             
**                       titulo :                              **                                                             
**                       BLINK                                 **
**                                                             ** 
**    NOM : ABDELLAZIZ AARAB          DATA : xx/xx/2017        **                       
****************************************************************/  

//********** Setup ****************************************************************
void setup()
{/ / Inicialice la señal digital como una salida.

/ / pin 13 LED

pinMode(13, OUTPUT) ; pin13 salida
}

//********** Loop *****************************************************************
void loop()
{
digitalWrite(13, HIGH) ; / / LED encendido
delay( 1000) ; / / espera un segundo
digitalWrite( 13, LOW) ; / / LED apagado
delay( 1000) ; espera un segundo
}

//********** Funcions *************************************************************
